<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    // TODO What STDOUT means?
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            // TODO What this pattern means?
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    # 打印 DAO 包下面的日志
    <logger name="com.nice.order.center.dao" level="DEBUG"/>

</configuration>